/* Created by Md. Abu bakker siddique
 * Specific styles of signin, register, component
 * General styles
 */

body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
    margin: 20px;

}

.centered-form{
    margin-top: 10px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}